mixin produit__4(txt)
  // start4products
  tr
    td
      table.product__all(align='center', cellpadding='0', cellspacing='0', border='0', width='98%')
        tbody
          tr
            td.products__unit.products__unit--big(width='25%', align='center')
              table.products__body(align='center', cellpadding='0', cellspacing='0', border='0', width='100%')
                tbody
                  tr.products__promo
                    td
                      table.products__promo(height='25', align='center', cellpadding='0', cellspacing='0', border='0', width='100%')
                        tbody
                          tr
                            if txt[0].promo__title == 'none'
                              td(width='100%', align='center') &nbsp;
                            else if txt[0].promo__title == 'big'
                              td( style='background-color: #fc5d6a; color:white; ' width='100%', align='center')!= txt[0].promo__value
                            else
                              td(width='60%', align='center')!= txt[0].promo__title 
                              td(width='40%', align='center')!= txt[0].promo__value                        
                  tr
                    td.products__blank  
                  tr
                    td(align='center')
                      a(href= txt[0].link, target='_blank')
                        img(alt= txt[0].alt, src=txt[0].img, width='100', height='100', border='0', style='display:block')
                  tr
                    td.products__blank  
                  tr
                    td.products__txt(align='center', width='100%')!= txt[0].name
                      br
                  tr
                    td.products__btn(align='center', width='100%', style='border-collapse: collapse; mso-line-height-rule: exactly;')
                      table(border='0', cellspacing='0', cellpadding='0', align='center', width='100%', style='border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt;')
                        tr
                          td(align='center', width='100%', style=' border-collapse: collapse; mso-line-height-rule: exactly;')
                            //if mso
                              v:roundrect(xmlns:v='urn:schemas-microsoft-com:vml', xmlns:w='urn:schemas-microsoft-com:office:word', href='https://www.agriconomie.com/engrais-panachage?utm_source=grliste&utm_medium=email&utm_campaign=vf-S03-2018', style='height:30px;v-text-anchor:middle;width:200px;', arcsize='5%', strokecolor='#52c47d', fillcolor='#52c47d')
                                w:anchorlock
                                  center(style='color:#fff;font-family:Helvetica, Arial,sans-serif;font-size:14px;')
                                    | Panachez !
                            a(href= txt[0].link, style=' font-family:Arial,Helvetica,sans-serif;background-color: #52c47d; border: 1px solid #52c47d; border-radius: 3px; color: #fff; display: inline-block; font-family: sans-serif; font-size: 14px; line-height: 30px; text-align: center; text-decoration: none; width: 95%; -webkit-text-size-adjust: none; mso-hide: all; font-weight: bold;')!= txt[0].btn
                  tr
                    td.products__blank  
            td.products__unit.products__unit--big(width='25%', align='center')
              table.products__body(align='center', cellpadding='0', cellspacing='0', border='0', width='100%')
                tbody
                  tr.products__promo
                    td
                      table.products__promo(height='25', align='center', cellpadding='0', cellspacing='0', border='0', width='100%')
                        tbody
                          tr
                            if txt[1].promo__title == 'none'
                              td(width='100%', align='center') &nbsp;
                            else if txt[1].promo__title == 'big'
                              td( style='background-color: #fc5d6a; color:white; ' width='100%', align='center')!= txt[1].promo__value
                            else
                              td(width='60%', align='center')!= txt[1].promo__title 
                              td(width='40%', align='center')!= txt[1].promo__value
                  tr
                    td.products__blank  
                  tr
                    td(align='center')
                      a(href= txt[1].link, target='_blank')
                        img(alt= txt[1].alt, src=txt[1].img, width='100', height='100', border='0', style='display:block')
                  tr
                    td.products__blank  &nbsp;
                  tr
                    td.products__txt(align='center', width='100%')!= txt[1].name
                      br
                  tr
                    td.products__btn(align='center', width='100%', style='border-collapse: collapse; mso-line-height-rule: exactly;')
                      table(border='0', cellspacing='0', cellpadding='0', align='center', width='100%', style='border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt;')
                        tr
                          td(align='center', width='100%', style=' border-collapse: collapse; mso-line-height-rule: exactly;')
                            //if mso
                              v:roundrect(xmlns:v='urn:schemas-microsoft-com:vml', xmlns:w='urn:schemas-microsoft-com:office:word', href='https://www.agriconomie.com/tsp-45/p289?utm_source=grliste&utm_medium=email&utm_campaign=vf-S03-2018', style='height:30px;v-text-anchor:middle;width:200px;', arcsize='5%', strokecolor='#52c47d', fillcolor='#52c47d')
                                w:anchorlock
                                  center(style='color:#fff;font-family:Helvetica, Arial,sans-serif;font-size:14px;')
                                    | Voir les prix
                            a(href= txt[1].link, style=' font-family:Arial,Helvetica,sans-serif;background-color: #52c47d; border: 1px solid #52c47d; border-radius: 3px; color: #fff; display: inline-block; font-family: sans-serif; font-size: 14px; line-height: 30px; text-align: center; text-decoration: none; width: 95%; -webkit-text-size-adjust: none; mso-hide: all; font-weight: bold;')!= txt[1].btn
                  tr
                    td.products__blank  
            td.products__unit.products__unit--big(width='25%', align='center')
              table.products__body(align='center', cellpadding='0', cellspacing='0', border='0', width='100%')
                tbody
                  tr.products__promo
                    td
                      table.products__promo(height='25', align='center', cellpadding='0', cellspacing='0', border='0', width='100%')
                        tbody
                          tr
                            if txt[2].promo__title == 'none'
                              td(width='100%', align='center') &nbsp;
                            else if txt[2].promo__title == 'big'
                              td( style='background-color: #fc5d6a; color:white; ' width='100%', align='center')!= txt[2].promo__value
                            else
                              td(width='60%', align='center')!= txt[2].promo__title 
                              td(width='40%', align='center')!= txt[2].promo__value
                  tr
                    td.products__blank  
                  tr
                    td(align='center')
                      a(href= txt[2].link, target='_blank')
                        img(alt= txt[2].alt, src= txt[2].img, width='100', height='100', border='0', style='display:block')
                  tr
                    td.products__blank  &nbsp;
                  tr
                    td.products__txt(align='center', width='100%')!= txt[2].name
                  tr
                    td.products__btn(align='center', width='100%', style='border-collapse: collapse; mso-line-height-rule: exactly;')
                      table(border='0', cellspacing='0', cellpadding='0', align='center', width='100%', style='border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt;')
                        tr
                          td(align='center', width='100%', style=' border-collapse: collapse; mso-line-height-rule: exactly;')
                            //if mso
                              v:roundrect(xmlns:v='urn:schemas-microsoft-com:vml', xmlns:w='urn:schemas-microsoft-com:office:word', href='https://www.agriconomie.com/solution-azotee-n39-2/p2?utm_source=grliste&utm_medium=email&utm_campaign=vf-S03-2018', style='height:30px;v-text-anchor:middle;width:200px;', arcsize='5%', strokecolor='#52c47d', fillcolor='#52c47d')
                                w:anchorlock
                                  center(style='color:#fff;font-family:Helvetica, Arial,sans-serif;font-size:14px;')
                                    | Voir les prix
                            a(href= txt[2].link, style=' font-family:Arial,Helvetica,sans-serif;background-color: #52c47d; border: 1px solid #52c47d; border-radius: 3px; color: #fff; display: inline-block; font-family: sans-serif; font-size: 14px; line-height: 30px; text-align: center; text-decoration: none; width: 95%; -webkit-text-size-adjust: none; mso-hide: all; font-weight: bold;')= txt[2].btn
                              
                  tr
                    td.products__blank  
            td.products__unit.products__unit--big(width='25%', align='center')
              table.products__body(align='center', cellpadding='0', cellspacing='0', border='0', width='100%')
                tbody
                  tr.products__promo
                    td
                      table.products__promo(height='25', align='center', cellpadding='0', cellspacing='0', border='0', width='100%')
                        tbody
                          tr
                            if txt[3].promo__title == 'none'
                              td(width='100%', align='center') &nbsp;
                            else if txt[3].promo__title == 'big'
                              td( style='background-color: #fc5d6a; color:white; ' width='100%', align='center')!= txt[3].promo__value
                            else
                              td(width='60%', align='center')!= txt[3].promo__title 
                              td(width='40%', align='center')!= txt[3].promo__value
                  tr
                    td.products__blank  
                  tr
                    td(align='center')
                      a(href= txt[3].link, target='_blank')
                        img(alt= txt[3].alt, src= txt[3].img, width='100', height='100', border='0', style='display:block')
                  tr
                    td.products__blank  &nbsp;
                  tr
                    td.products__txt(align='center', width='100%')!= txt[3].name
                  tr
                    td.products__btn(align='center', width='100%', style='border-collapse: collapse; mso-line-height-rule: exactly;')
                      table(border='0', cellspacing='0', cellpadding='0', align='center', width='100%', style='border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt;')
                        tr
                          td(align='center', width='100%', style=' border-collapse: collapse; mso-line-height-rule: exactly;')
                            //if mso
                              v:roundrect(xmlns:v='urn:schemas-microsoft-com:vml', xmlns:w='urn:schemas-microsoft-com:office:word', href='https://www.agriconomie.com/solution-azotee-n39-2/p2?utm_source=grliste&utm_medium=email&utm_campaign=vf-S03-2018', style='height:30px;v-text-anchor:middle;width:200px;', arcsize='5%', strokecolor='#52c47d', fillcolor='#52c47d')
                                w:anchorlock
                                  center(style='color:#fff;font-family:Helvetica, Arial,sans-serif;font-size:14px;')
                                    | Voir les prix
                            a(href= txt[3].link, style=' font-family:Arial,Helvetica,sans-serif;background-color: #52c47d; border: 1px solid #52c47d; border-radius: 3px; color: #fff; display: inline-block; font-family: sans-serif; font-size: 14px; line-height: 30px; text-align: center; text-decoration: none; width: 95%; -webkit-text-size-adjust: none; mso-hide: all; font-weight: bold;')= txt[3].btn
                              
                  tr
                    td.products__blank  
  
  // end4products